@import "tailwindcss";
@import "@heroui/styles";
@import "@heroui-pro/react/css";
@source "../node_modules/streamdown/dist/*.js";

@theme inline {
  --font-sans: "Geist", "Geist Fallback", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", "Geist Mono Fallback", ui-monospace, monospace;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: var(--font-sans);
}

.markdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
